* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(12, 12, 10);
    background-color: rgb(221, 145, 214);
    font-family: 'Source Serif Pro', serif;
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    text-transform: capitalize;
    font-size: 2rem;
}

